USE [agro_control]
GO
/****** Object:  UserDefinedFunction [dbo].[get_batches_by_raw_material_batch]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[get_batches_by_raw_material_batch] (@rmb_id INT)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX);
    SELECT @result = (
        SELECT b.id, b.batch_number, p.name AS product_name
        FROM batch_raw_materials brm
        JOIN batches b ON brm.batch_id = b.id
        JOIN production_orders po ON b.order_id = po.id
        JOIN products p ON po.product_id = p.id
        WHERE brm.raw_material_batch_id = @rmb_id
        FOR JSON AUTO
    );
    RETURN @result;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[get_current_user_id]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Функция, возвращающая ID текущего пользователя (устанавливается приложением)
CREATE   FUNCTION [dbo].[get_current_user_id]()
RETURNS INT
AS
BEGIN
    RETURN CAST(SESSION_CONTEXT(N'user_id') AS INT);
END;
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [int] NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[timestamp] [datetime2](7) NULL,
	[ip_address] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_raw_materials]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[raw_material_batch_id] [int] NOT NULL,
	[used_quantity_kg] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_steps]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[process_step_id] [int] NOT NULL,
	[actual_start_time] [datetime2](7) NULL,
	[actual_end_time] [datetime2](7) NULL,
	[actual_temp_c] [decimal](5, 2) NULL,
	[actual_pressure_bar] [decimal](5, 2) NULL,
	[actual_duration_min] [int] NULL,
	[operator_comment] [nvarchar](max) NULL,
	[deviation_flag] [bit] NULL,
	[operator_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[order_id] [int] NOT NULL,
	[recipe_id] [int] NOT NULL,
	[start_time] [datetime2](7) NULL,
	[end_time] [datetime2](7) NULL,
	[status] [nvarchar](20) NOT NULL,
	[actual_quantity_kg] [decimal](10, 2) NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deviation_events]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deviation_events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[batch_step_id] [int] NULL,
	[event_time] [datetime2](7) NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[severity] [nvarchar](20) NULL,
	[resolved_by] [int] NULL,
	[resolved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment_telemetry]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment_telemetry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_name] [nvarchar](100) NOT NULL,
	[temperature_c] [decimal](5, 2) NULL,
	[pressure_bar] [decimal](5, 2) NULL,
	[screw_speed_rpm] [int] NULL,
	[last_update] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[process_steps]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[process_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](100) NOT NULL,
	[planned_temp_c] [decimal](5, 2) NULL,
	[planned_pressure_bar] [decimal](5, 2) NULL,
	[planned_duration_min] [int] NULL,
	[instruction] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[product_id] [int] NOT NULL,
	[planned_quantity_kg] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[planned_start_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [nvarchar](50) NULL,
	[form] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[standard_params] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quality_controls]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_controls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[raw_material_batch_id] [int] NULL,
	[analysis_date] [datetime2](7) NOT NULL,
	[sample_type] [nvarchar](20) NOT NULL,
	[parameter_name] [nvarchar](100) NOT NULL,
	[measured_value] [nvarchar](50) NOT NULL,
	[standard_value] [nvarchar](50) NOT NULL,
	[unit] [nvarchar](20) NULL,
	[result] [nvarchar](10) NOT NULL,
	[decision] [nvarchar](20) NOT NULL,
	[analyst_comment] [nvarchar](max) NULL,
	[analyst_id] [int] NULL,
	[analyst_name] [nvarchar](100) NULL,
	[test_results_json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_material_batches]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_material_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[quantity_kg] [decimal](10, 2) NOT NULL,
	[arrival_date] [date] NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_materials]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](50) NULL,
	[unit] [nvarchar](20) NULL,
	[standard_params] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[raw_material_id] [int] NOT NULL,
	[quantity_kg] [decimal](10, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[approved_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18.05.2026 9:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[department] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[batch_raw_materials] ON 

INSERT [dbo].[batch_raw_materials] ([id], [batch_id], [raw_material_batch_id], [used_quantity_kg]) VALUES (1, 1, 1, CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[batch_raw_materials] ([id], [batch_id], [raw_material_batch_id], [used_quantity_kg]) VALUES (2, 1, 2, CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[batch_raw_materials] ([id], [batch_id], [raw_material_batch_id], [used_quantity_kg]) VALUES (3, 1, 3, CAST(100.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[batch_raw_materials] OFF
GO
SET IDENTITY_INSERT [dbo].[batch_steps] ON 

INSERT [dbo].[batch_steps] ([id], [batch_id], [process_step_id], [actual_start_time], [actual_end_time], [actual_temp_c], [actual_pressure_bar], [actual_duration_min], [operator_comment], [deviation_flag], [operator_id]) VALUES (1, 1, 1, CAST(N'2025-03-01T08:00:00.0000000' AS DateTime2), CAST(N'2025-03-01T08:32:00.0000000' AS DateTime2), CAST(44.80 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), 32, N'OK', 0, NULL)
INSERT [dbo].[batch_steps] ([id], [batch_id], [process_step_id], [actual_start_time], [actual_end_time], [actual_temp_c], [actual_pressure_bar], [actual_duration_min], [operator_comment], [deviation_flag], [operator_id]) VALUES (2, 2, 1, CAST(N'2025-03-02T08:15:00.0000000' AS DateTime2), CAST(N'2025-03-02T08:45:00.0000000' AS DateTime2), CAST(46.10 AS Decimal(5, 2)), CAST(1.60 AS Decimal(5, 2)), 30, N'Температура выше нормы', 1, NULL)
INSERT [dbo].[batch_steps] ([id], [batch_id], [process_step_id], [actual_start_time], [actual_end_time], [actual_temp_c], [actual_pressure_bar], [actual_duration_min], [operator_comment], [deviation_flag], [operator_id]) VALUES (3, 4, 1, CAST(N'2025-03-04T10:00:00.0000000' AS DateTime2), CAST(N'2025-03-04T10:33:00.0000000' AS DateTime2), CAST(44.50 AS Decimal(5, 2)), CAST(1.40 AS Decimal(5, 2)), 33, N'Задержка загрузки', 1, NULL)
SET IDENTITY_INSERT [dbo].[batch_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[batches] ON 

INSERT [dbo].[batches] ([id], [batch_number], [order_id], [recipe_id], [start_time], [end_time], [status], [actual_quantity_kg], [created_by]) VALUES (1, N'B-2401-01', 1, 1, CAST(N'2025-03-01T08:00:00.0000000' AS DateTime2), CAST(N'2025-03-01T14:30:00.0000000' AS DateTime2), N'completed', CAST(998.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[batches] ([id], [batch_number], [order_id], [recipe_id], [start_time], [end_time], [status], [actual_quantity_kg], [created_by]) VALUES (2, N'B-2401-02', 1, 1, CAST(N'2025-03-02T08:15:00.0000000' AS DateTime2), CAST(N'2025-03-02T15:00:00.0000000' AS DateTime2), N'completed', CAST(1002.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[batches] ([id], [batch_number], [order_id], [recipe_id], [start_time], [end_time], [status], [actual_quantity_kg], [created_by]) VALUES (3, N'B-2402-01', 2, 2, CAST(N'2025-03-03T09:00:00.0000000' AS DateTime2), NULL, N'running', CAST(250.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[batches] OFF
GO
SET IDENTITY_INSERT [dbo].[deviation_events] ON 

INSERT [dbo].[deviation_events] ([id], [batch_id], [batch_step_id], [event_time], [event_type], [description], [severity], [resolved_by], [resolved_at]) VALUES (1, 1, 1, CAST(N'2026-05-06T09:15:39.3466667' AS DateTime2), N'temperature_deviation', N'Температура экструзии ниже плановой', N'medium', NULL, NULL)
INSERT [dbo].[deviation_events] ([id], [batch_id], [batch_step_id], [event_time], [event_type], [description], [severity], [resolved_by], [resolved_at]) VALUES (2, 2, 2, CAST(N'2026-05-06T09:15:39.3466667' AS DateTime2), N'temperature_deviation', N'Температура экструзии ниже плановой', N'medium', NULL, NULL)
INSERT [dbo].[deviation_events] ([id], [batch_id], [batch_step_id], [event_time], [event_type], [description], [severity], [resolved_by], [resolved_at]) VALUES (3, 4, 3, CAST(N'2026-05-06T09:15:39.3466667' AS DateTime2), N'temperature_deviation', N'Температура экструзии ниже плановой', N'medium', NULL, NULL)
SET IDENTITY_INSERT [dbo].[deviation_events] OFF
GO
SET IDENTITY_INSERT [dbo].[equipment_telemetry] ON 

INSERT [dbo].[equipment_telemetry] ([id], [equipment_name], [temperature_c], [pressure_bar], [screw_speed_rpm], [last_update]) VALUES (1, N'Экструдер Линия 1', CAST(82.50 AS Decimal(5, 2)), CAST(3.20 AS Decimal(5, 2)), 120, CAST(N'2026-05-15T13:06:35.4466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[equipment_telemetry] OFF
GO
SET IDENTITY_INSERT [dbo].[process_steps] ON 

INSERT [dbo].[process_steps] ([id], [recipe_id], [step_order], [step_name], [planned_temp_c], [planned_pressure_bar], [planned_duration_min], [instruction]) VALUES (1, 1, 1, N'Основной шаг', CAST(50.00 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), 30, NULL)
INSERT [dbo].[process_steps] ([id], [recipe_id], [step_order], [step_name], [planned_temp_c], [planned_pressure_bar], [planned_duration_min], [instruction]) VALUES (2, 2, 1, N'Основной шаг', CAST(50.00 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), 30, NULL)
INSERT [dbo].[process_steps] ([id], [recipe_id], [step_order], [step_name], [planned_temp_c], [planned_pressure_bar], [planned_duration_min], [instruction]) VALUES (3, 3, 1, N'Основной шаг', CAST(50.00 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), 30, NULL)
SET IDENTITY_INSERT [dbo].[process_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[production_orders] ON 

INSERT [dbo].[production_orders] ([id], [order_number], [product_id], [planned_quantity_kg], [status], [planned_start_date]) VALUES (1, N'PO-2401', 1, CAST(1000.00 AS Decimal(10, 2)), N'completed', CAST(N'2025-03-01' AS Date))
INSERT [dbo].[production_orders] ([id], [order_number], [product_id], [planned_quantity_kg], [status], [planned_start_date]) VALUES (2, N'PO-2402', 2, CAST(500.00 AS Decimal(10, 2)), N'in_progress', CAST(N'2025-03-03' AS Date))
INSERT [dbo].[production_orders] ([id], [order_number], [product_id], [planned_quantity_kg], [status], [planned_start_date]) VALUES (3, N'PO-2403', 4, CAST(2000.00 AS Decimal(10, 2)), N'planned', CAST(N'2025-03-10' AS Date))
SET IDENTITY_INSERT [dbo].[production_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [type], [form], [is_active], [standard_params]) VALUES (1, N'Гербицид А', N'Гербицид', N'Жидкость', 1, N'{"концентрация": ">97%", "pH": "6.5-7.0", "влажность": "<2.5%"}')
INSERT [dbo].[products] ([id], [name], [type], [form], [is_active], [standard_params]) VALUES (2, N'Инсектицид Б', N'Инсектицид', N'Концентрат', 1, NULL)
INSERT [dbo].[products] ([id], [name], [type], [form], [is_active], [standard_params]) VALUES (3, N'Фунгицид В', N'Фунгицид', N'Порошок', 0, NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[quality_controls] ON 

INSERT [dbo].[quality_controls] ([id], [batch_id], [raw_material_batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment], [analyst_id], [analyst_name], [test_results_json]) VALUES (1, 1, NULL, CAST(N'2025-03-01T15:00:00.0000000' AS DateTime2), N'final_product', N'концентрация', N'98.2', N'97', N'%', N'pass', N'approved', N'Соответствует норме', NULL, NULL, NULL)
INSERT [dbo].[quality_controls] ([id], [batch_id], [raw_material_batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment], [analyst_id], [analyst_name], [test_results_json]) VALUES (2, 1, NULL, CAST(N'2025-03-01T08:30:00.0000000' AS DateTime2), N'raw_material', N'влажность', N'2.1', N'2.5', N'%', N'pass', N'approved', N'OK', NULL, NULL, NULL)
INSERT [dbo].[quality_controls] ([id], [batch_id], [raw_material_batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment], [analyst_id], [analyst_name], [test_results_json]) VALUES (3, 2, NULL, CAST(N'2025-03-02T15:30:00.0000000' AS DateTime2), N'final_product', N'концентрация', N'96.5', N'97', N'%', N'fail', N'blocked', N'Низкая концентрация', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[quality_controls] OFF
GO
SET IDENTITY_INSERT [dbo].[raw_material_batches] ON 

INSERT [dbo].[raw_material_batches] ([id], [raw_material_id], [batch_number], [quantity_kg], [arrival_date], [status]) VALUES (1, 1, N'RM-X-001', CAST(5000.00 AS Decimal(10, 2)), CAST(N'2025-02-10' AS Date), N'used')
INSERT [dbo].[raw_material_batches] ([id], [raw_material_id], [batch_number], [quantity_kg], [arrival_date], [status]) VALUES (2, 2, N'RM-Y-002', CAST(3000.00 AS Decimal(10, 2)), CAST(N'2025-02-15' AS Date), N'used')
INSERT [dbo].[raw_material_batches] ([id], [raw_material_id], [batch_number], [quantity_kg], [arrival_date], [status]) VALUES (3, 3, N'RM-Z-003', CAST(1000.00 AS Decimal(10, 2)), CAST(N'2025-02-20' AS Date), N'available')
SET IDENTITY_INSERT [dbo].[raw_material_batches] OFF
GO
SET IDENTITY_INSERT [dbo].[raw_materials] ON 

INSERT [dbo].[raw_materials] ([id], [name], [code], [unit], [standard_params]) VALUES (1, N'Активное вещество X', N'X-001', N'кг', N'{"чистота": ">99%", "температура плавления": "50-55"}')
INSERT [dbo].[raw_materials] ([id], [name], [code], [unit], [standard_params]) VALUES (2, N'Растворитель Y', N'Y-002', N'л', N'{"pH": "6.5-7.0"}')
INSERT [dbo].[raw_materials] ([id], [name], [code], [unit], [standard_params]) VALUES (3, N'Эмульгатор Z', N'Z-003', N'кг', N'{"humidity": "<2.5%"}')
SET IDENTITY_INSERT [dbo].[raw_materials] OFF
GO
SET IDENTITY_INSERT [dbo].[recipe_components] ON 

INSERT [dbo].[recipe_components] ([id], [recipe_id], [raw_material_id], [quantity_kg]) VALUES (1, 1, 1, CAST(600.000 AS Decimal(10, 3)))
INSERT [dbo].[recipe_components] ([id], [recipe_id], [raw_material_id], [quantity_kg]) VALUES (2, 1, 2, CAST(300.000 AS Decimal(10, 3)))
INSERT [dbo].[recipe_components] ([id], [recipe_id], [raw_material_id], [quantity_kg]) VALUES (3, 1, 3, CAST(100.000 AS Decimal(10, 3)))
SET IDENTITY_INSERT [dbo].[recipe_components] OFF
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [created_at], [approved_by]) VALUES (1, 1, 1, N'active', CAST(N'2025-01-10T09:00:00.0000000' AS DateTime2), 13)
INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [created_at], [approved_by]) VALUES (2, 2, 2, N'active', CAST(N'2025-01-12T10:30:00.0000000' AS DateTime2), 13)
INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [created_at], [approved_by]) VALUES (3, 3, 1, N'draft', CAST(N'2025-01-15T14:00:00.0000000' AS DateTime2), 13)
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (1, N'tech.ivanov', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Иванов Иван Петрович', N'technologist', N'ivan.ivanov@agrocontrol.ru', N'+7 (495) 123-45-01', 1, CAST(N'2025-03-10T08:30:00.0000000' AS DateTime2), CAST(N'2024-01-15T10:00:00.0000000' AS DateTime2), N'Технологический отдел')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (2, N'tech.petrova', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Петрова Мария Сергеевна', N'technologist', N'maria.petrova@agrocontrol.ru', N'+7 (495) 123-45-02', 1, CAST(N'2025-03-09T16:45:00.0000000' AS DateTime2), CAST(N'2024-02-20T11:30:00.0000000' AS DateTime2), N'Технологический отдел')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (3, N'tech.smirnov', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Смирнов Алексей Викторович', N'technologist', N'alexey.smirnov@agrocontrol.ru', N'+7 (495) 123-45-03', 1, CAST(N'2025-03-08T11:20:00.0000000' AS DateTime2), CAST(N'2024-03-10T09:15:00.0000000' AS DateTime2), N'Технологический отдел')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__batches__56E37837CF0E9151]    Script Date: 18.05.2026 9:58:28 ******/
ALTER TABLE [dbo].[batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DF10591D40]    Script Date: 18.05.2026 9:58:28 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__raw_mate__357D4CF98100BE22]    Script Date: 18.05.2026 9:58:28 ******/
ALTER TABLE [dbo].[raw_materials] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_recipe_product_version]    Script Date: 18.05.2026 9:58:28 ******/
ALTER TABLE [dbo].[recipes] ADD  CONSTRAINT [UQ_recipe_product_version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572356EF4EE]    Script Date: 18.05.2026 9:58:28 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[batch_steps] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[deviation_events] ADD  DEFAULT (getdate()) FOR [event_time]
GO
ALTER TABLE [dbo].[deviation_events] ADD  DEFAULT ('medium') FOR [severity]
GO
ALTER TABLE [dbo].[equipment_telemetry] ADD  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[raw_material_batches] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_raw_materials]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_raw_materials]  WITH CHECK ADD FOREIGN KEY([raw_material_batch_id])
REFERENCES [dbo].[raw_material_batches] ([id])
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD FOREIGN KEY([operator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD FOREIGN KEY([process_step_id])
REFERENCES [dbo].[process_steps] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD FOREIGN KEY([batch_step_id])
REFERENCES [dbo].[batch_steps] ([id])
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[process_steps]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[quality_controls]  WITH CHECK ADD FOREIGN KEY([analyst_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quality_controls]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
GO
ALTER TABLE [dbo].[quality_controls]  WITH CHECK ADD FOREIGN KEY([raw_material_batch_id])
REFERENCES [dbo].[raw_material_batches] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD CHECK  (([status]='blocked' OR [status]='completed' OR [status]='running' OR [status]='planned'))
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD CHECK  (([severity]='critical' OR [severity]='high' OR [severity]='medium' OR [severity]='low'))
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='completed' OR [status]='in_progress' OR [status]='planned' OR [status]='draft'))
GO
ALTER TABLE [dbo].[quality_controls]  WITH CHECK ADD CHECK  (([decision]='blocked' OR [decision]='approved'))
GO
ALTER TABLE [dbo].[quality_controls]  WITH CHECK ADD CHECK  (([result]='fail' OR [result]='pass'))
GO
ALTER TABLE [dbo].[quality_controls]  WITH CHECK ADD CHECK  (([sample_type]='final_product' OR [sample_type]='intermediate' OR [sample_type]='raw_material'))
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD CHECK  (([status]='expired' OR [status]='used' OR [status]='available'))
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='active' OR [status]='draft'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='observer' OR [role]='analyst' OR [role]='manager' OR [role]='shift_supervisor' OR [role]='engineer' OR [role]='admin' OR [role]='laboratory' OR [role]='operator' OR [role]='technologist'))
GO
/****** Object:  StoredProcedure [dbo].[complete_batch]    Script Date: 18.05.2026 9:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[complete_batch]
    @batch_id INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @qc_decision NVARCHAR(20);
    
    SELECT TOP 1 @qc_decision = decision
    FROM quality_controls
    WHERE batch_id = @batch_id AND sample_type = 'final_product' AND decision = 'blocked';
    
    IF @qc_decision = 'blocked'
    BEGIN
        UPDATE batches SET status = 'blocked', end_time = GETDATE() WHERE id = @batch_id;
        INSERT INTO deviation_events (batch_id, event_type, description, severity)
        VALUES (@batch_id, 'quality_fail', N'Партия заблокирована по решению лаборатории', 'high');
    END
    ELSE
    BEGIN
        UPDATE batches SET status = 'completed', end_time = GETDATE() WHERE id = @batch_id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_add_quality_control]    Script Date: 18.05.2026 9:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_add_quality_control]
    @batch_id INT,
    @sample_type NVARCHAR(20),
    @parameter_name NVARCHAR(100),
    @measured_value NVARCHAR(50),
    @standard_value NVARCHAR(50),
    @unit NVARCHAR(20),
    @analyst_comment NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @result NVARCHAR(10);
    
    -- Простейшая валидация: если measured_value не соответствует стандарту (можно усложнить)
    -- Для демо: fail, если значение числа выходит за пределы
    -- Здесь я использую простое сравнение (в реальности можно парсить стандарт)
    IF TRY_CAST(@measured_value AS DECIMAL) < TRY_CAST(LEFT(@standard_value, CHARINDEX('-', @standard_value + '-')-1) AS DECIMAL)
       OR TRY_CAST(@measured_value AS DECIMAL) > TRY_CAST(RIGHT(@standard_value, LEN(@standard_value) - CHARINDEX('-', @standard_value)) AS DECIMAL)
    BEGIN
        SET @result = 'fail';
    END
    ELSE
        SET @result = 'pass';
    
    DECLARE @decision NVARCHAR(20) = CASE WHEN @result = 'fail' THEN 'blocked' ELSE 'approved' END;
    
    INSERT INTO quality_controls (batch_id, analysis_date, sample_type, parameter_name, 
                                   measured_value, standard_value, unit, result, decision, 
                                   analyst_comment, analyst_id)
    VALUES (@batch_id, GETDATE(), @sample_type, @parameter_name,
            @measured_value, @standard_value, @unit, @result, @decision,
            @analyst_comment, dbo.get_current_user_id());
    
    -- Если результат fail и sample_type = 'final_product', блокируем партию
    IF @result = 'fail' AND @sample_type = 'final_product'
    BEGIN
        EXEC sp_complete_batch @batch_id;  -- она переведёт в status = 'blocked'
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_complete_batch]    Script Date: 18.05.2026 9:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_complete_batch]
    @batch_id INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @qc_decision NVARCHAR(20);
    
    -- Проверяем, есть ли блокирующее решение лаборатории по готовой продукции
    SELECT TOP 1 @qc_decision = decision
    FROM quality_controls
    WHERE batch_id = @batch_id AND sample_type = 'final_product' AND decision = 'blocked';
    
    IF @qc_decision = 'blocked'
    BEGIN
        UPDATE batches SET status = 'blocked', end_time = GETDATE() WHERE id = @batch_id;
        INSERT INTO deviation_events (batch_id, event_type, description, severity)
        VALUES (@batch_id, 'quality_fail', N'Партия заблокирована по решению лаборатории', 'high');
    END
    ELSE
    BEGIN
        UPDATE batches SET status = 'completed', end_time = GETDATE() WHERE id = @batch_id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_batch]    Script Date: 18.05.2026 9:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_create_batch]
    @order_id INT,
    @batch_number NVARCHAR(50),
    @recipe_id INT,
    @raw_material_batches_json NVARCHAR(MAX) -- JSON: [{"id":1, "used_kg":500}, ...]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. Валидация: заказ существует и не завершён
        IF NOT EXISTS (SELECT 1 FROM production_orders WHERE id = @order_id AND status IN ('planned', 'in_progress'))
        BEGIN
            THROW 50001, 'Заказ не существует или уже завершён', 1;
        END
        
        -- 2. Валидация: рецепт активен
        IF NOT EXISTS (SELECT 1 FROM recipes WHERE id = @recipe_id AND status = 'active')
        BEGIN
            THROW 50002, 'Рецепт не активен', 1;
        END
        
        -- 3. Создаём партию
        INSERT INTO batches (batch_number, order_id, recipe_id, status, created_by, start_time)
        VALUES (@batch_number, @order_id, @recipe_id, 'running', dbo.get_current_user_id(), GETDATE());
        
        DECLARE @batch_id INT = SCOPE_IDENTITY();
        
        -- 4. Привязываем партии сырья
        INSERT INTO batch_raw_materials (batch_id, raw_material_batch_id, used_quantity_kg)
        SELECT @batch_id, raw.id, raw.used_kg
        FROM OPENJSON(@raw_material_batches_json)
        WITH (
            id INT '$.id',
            used_kg DECIMAL(10,2) '$.used_kg'
        ) AS raw;
        
        -- 5. Проверяем, что сырье есть в наличии (можно добавить проверку остатков)
        
        COMMIT TRANSACTION;
        SELECT @batch_id AS new_batch_id;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_record_batch_step]    Script Date: 18.05.2026 9:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_record_batch_step]
    @batch_id INT,
    @step_order INT,
    @actual_temp_c DECIMAL(5,2),
    @actual_pressure_bar DECIMAL(5,2),
    @actual_duration_min INT,
    @operator_comment NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- 1. Получаем process_step_id по recipe_id партии и step_order
        DECLARE @process_step_id INT;
        SELECT @process_step_id = ps.id
        FROM batches b
        JOIN process_steps ps ON ps.recipe_id = b.recipe_id AND ps.step_order = @step_order
        WHERE b.id = @batch_id;
        
        IF @process_step_id IS NULL
            THROW 50003, 'Шаг с таким номером не найден в технологической карте', 1;
        
        -- 2. Проверка, не завершён ли уже шаг
        IF EXISTS (SELECT 1 FROM batch_steps WHERE batch_id = @batch_id AND process_step_id = @process_step_id)
            THROW 50004, 'Этот шаг уже был выполнен', 1;
        
        -- 3. Вычисляем отклонение (если выходит за допуски)
        DECLARE @deviation_flag BIT = 0;
        DECLARE @planned_temp DECIMAL(5,2), @planned_press DECIMAL(5,2), @planned_dur INT;
        SELECT @planned_temp = planned_temp_c, @planned_press = planned_pressure_bar, @planned_dur = planned_duration_min
        FROM process_steps WHERE id = @process_step_id;
        
        IF ABS(@actual_temp_c - @planned_temp) > 2.0 
           OR ABS(@actual_pressure_bar - @planned_press) > 0.5
           OR ABS(@actual_duration_min - @planned_dur) > 10
        BEGIN
            SET @deviation_flag = 1;
        END
        
        -- 4. Вставляем факт выполнения шага
        INSERT INTO batch_steps (batch_id, process_step_id, actual_start_time, actual_end_time, 
                                 actual_temp_c, actual_pressure_bar, actual_duration_min, 
                                 operator_comment, deviation_flag, operator_id)
        VALUES (@batch_id, @process_step_id, 
                DATEADD(MINUTE, -@actual_duration_min, GETDATE()), GETDATE(),
                @actual_temp_c, @actual_pressure_bar, @actual_duration_min,
                @operator_comment, @deviation_flag, dbo.get_current_user_id());
        
        -- 5. Если это был последний шаг — автоматически завершаем партию (вызываем другую процедуру, см. ниже)
        DECLARE @total_steps INT, @completed_steps INT;
        SELECT @total_steps = COUNT(*) FROM process_steps WHERE recipe_id = (SELECT recipe_id FROM batches WHERE id = @batch_id);
        SELECT @completed_steps = COUNT(*) FROM batch_steps WHERE batch_id = @batch_id;
        
        IF @total_steps = @completed_steps
        BEGIN
            EXEC sp_complete_batch @batch_id;
        END
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
